Repository ORNL/ReSolve, pull requests merged in 2025-03, with the labels that each got.

#228 Update GPU profiling interface
  cmake/ReSolveConfig.cmake.in
  cmake/ReSolveFindCudaLibraries.cmake
  cmake/ReSolveFindHipLibraries.cmake
  docs/sphinx/developer_guide/profiling.rst
  resolve/CMakeLists.txt
  resolve/LinSolverDirectCuSolverGLU.cpp
  resolve/Profiling.hpp
Labels: hip, cmake

#232 Refactor randomized GMRES examples
  examples/CMakeLists.txt
  examples/ExampleHelper.hpp
  examples/r_randGMRES.cpp
  examples/r_randGMRES_CUDA.cpp
  examples/r_randGMRES_cpu.cpp
  examples/randGmres.cpp
  resolve/LinSolverIterativeRandFGMRES.cpp
Labels: examples

#245 Fix bug in Gram-Schmidt test
  tests/unit/vector/GramSchmidtTests.hpp
  tests/unit/vector/runGramSchmidtTests.cpp
Labels: bug, testing, hip, cuda
