Repository ORNL/ReSolve, pull requests merged in 2025-05, with the labels that each got.

#253 Refactor and stand alone examples for KLU class
  examples/CMakeLists.txt
  examples/kluRefactor.cpp
  examples/kluStandAlone.cpp
Labels: examples

#246 Added feature: reusing transpose allocation
  resolve/cuda/cudaVectorKernels.cu
  resolve/cuda/cudaVectorKernels.h
  resolve/hip/hipVectorKernels.h
  resolve/hip/hipVectorKernels.hip
  resolve/matrix/MatrixHandler.cpp
  resolve/matrix/MatrixHandler.hpp
  resolve/matrix/MatrixHandlerCpu.cpp
  resolve/matrix/MatrixHandlerCpu.hpp
  resolve/matrix/MatrixHandlerCuda.cpp
  resolve/matrix/MatrixHandlerCuda.hpp
  resolve/matrix/MatrixHandlerHip.cpp
  resolve/matrix/MatrixHandlerHip.hpp
  resolve/matrix/MatrixHandlerImpl.hpp
  resolve/workspace/LinAlgWorkspaceCUDA.cpp
  resolve/workspace/LinAlgWorkspaceCUDA.hpp
  resolve/workspace/LinAlgWorkspaceHIP.cpp
  resolve/workspace/LinAlgWorkspaceHIP.hpp
  tests/unit/matrix/MatrixHandlerTests.hpp
Labels: enhancement, hip, cuda

#225 Declutter examples
  examples/CMakeLists.txt
  examples/ExampleHelper.hpp
  examples/experimental/CMakeLists.txt
  examples/experimental/r_KLU_GLU_matrix_values_update.cpp
  examples/experimental/r_KLU_cusolverrf_redo_factorization.cpp
  examples/experimental/r_KLU_rf_FGMRES_reuse_factorization.cpp
  examples/experimental/r_KLU_rocsolverrf_redo_factorization.cpp
  examples/experimental/runResolve
  examples/gluRefactor.cpp
  examples/gpuRefactor.cpp
  examples/kluFactor.cpp
  examples/kluRefactor.cpp
  examples/r_KLU_GLU.cpp
  examples/r_KLU_KLU.cpp
  examples/r_KLU_KLU_standalone.cpp
  examples/r_KLU_rf.cpp
  examples/r_KLU_rf_FGMRES.cpp
  examples/r_KLU_rocSolverRf_FGMRES.cpp
  examples/r_KLU_rocsolverrf.cpp
  examples/r_SysSolver.cpp
  examples/r_SysSolverCuda.cpp
  examples/r_SysSolverHip.cpp
  examples/r_SysSolverHipRefine.cpp
  examples/r_randGMRES.cpp
  examples/r_randGMRES_CUDA.cpp
  examples/r_randGMRES_cpu.cpp
  examples/randGmres.cpp
  examples/sysRefactor.cpp
  resolve/LinSolverDirect.cpp
  resolve/LinSolverDirectCuSolverGLU.cpp
  resolve/LinSolverDirectCuSolverGLU.hpp
  resolve/LinSolverDirectCuSolverRf.cpp
  resolve/LinSolverDirectCuSolverRf.hpp
  resolve/LinSolverDirectKLU.cpp
  resolve/LinSolverDirectKLU.hpp
  resolve/LinSolverDirectRocSolverRf.cpp
  resolve/LinSolverDirectRocSolverRf.hpp
  resolve/LinSolverIterativeRandFGMRES.cpp
  resolve/SystemSolver.cpp
  resolve/SystemSolver.hpp
  resolve/matrix/MatrixHandlerCpu.cpp
  tests/functionality/TestHelper.hpp
Labels: enhancement, hip, cuda, examples

#273 Revert "Track updated status for each vector in multivector. (#260)"
  resolve/MemoryUtils.hpp
  resolve/vector/Vector.cpp
  resolve/vector/Vector.hpp
  tests/unit/TestBase.hpp
  tests/unit/vector/CMakeLists.txt
  tests/unit/vector/VectorTests.hpp
  tests/unit/vector/runVectorTests.cpp
Labels: bug

#271 adding minimal changes to remove magic numbers
  resolve/Common.hpp
  resolve/GramSchmidt.cpp
  resolve/LinSolverIterativeFGMRES.cpp
  resolve/LinSolverIterativeRandFGMRES.cpp
  tests/functionality/testLUSOL.cpp
Labels: enhancement

#275 Simplify LinSolverIterativeRandFGMRES
  resolve/LinSolverIterativeRandFGMRES.cpp
  resolve/LinSolverIterativeRandFGMRES.hpp
Labels: enhancement, question, iterative solver

#276 Fix compiler warnings in matrix handlers
  resolve/matrix/MatrixHandlerCpu.hpp
  resolve/matrix/MatrixHandlerCuda.hpp
  resolve/matrix/MatrixHandlerHip.cpp
  resolve/matrix/MatrixHandlerHip.hpp
  tests/unit/TestBase.hpp
Labels: compiler warnings

#277 Adjust resizing in vector::Vector class
  resolve/GramSchmidt.cpp
  resolve/LinSolverIterativeRandFGMRES.cpp
  resolve/vector/Vector.cpp
  resolve/vector/Vector.hpp
Labels: enhancement

#284 Prohibit sloppy syncing
  resolve/GramSchmidt.cpp
  resolve/matrix/Coo.cpp
  resolve/matrix/Csc.cpp
  resolve/matrix/Csr.cpp
  resolve/vector/Vector.cpp
  tests/functionality/TestHelper.hpp
  tests/unit/vector/GramSchmidtTests.hpp
Labels: enhancement, question

#283 Added methods to diagonally scale csr matrices on the left and right.
  resolve/cuda/cudaKernels.cu
  resolve/cuda/cudaKernels.h
  resolve/hip/hipKernels.h
  resolve/hip/hipKernels.hip
  resolve/matrix/MatrixHandler.cpp
  resolve/matrix/MatrixHandler.hpp
  resolve/matrix/MatrixHandlerCpu.cpp
  resolve/matrix/MatrixHandlerCpu.hpp
  resolve/matrix/MatrixHandlerCuda.cpp
  resolve/matrix/MatrixHandlerCuda.hpp
  resolve/matrix/MatrixHandlerHip.cpp
  resolve/matrix/MatrixHandlerHip.hpp
  resolve/matrix/MatrixHandlerImpl.hpp
  resolve/vector/Vector.cpp
  tests/unit/matrix/MatrixHandlerTests.hpp
  tests/unit/matrix/runMatrixHandlerTests.cpp
Labels: enhancement, hip, cuda
